strat.data.Returns.std() * np.sqrt(252)

In [1]:
from trading_tools import calculate_return
from strategy import Strategy
import numpy as np

In [3]:
strat = Strategy('KGH.WA')
strat.data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Returns,Position,Strategy
0,108.000000,111.150002,107.500000,110.800003,108.588425,882432,NaN,0,0.0
1,108.900002,111.900002,108.099998,111.900002,109.666466,620124,0.009879,0,0.0
2,112.900002,113.199997,110.500000,111.349998,109.127441,541347,-0.004927,0,0.0
3,112.500000,113.500000,111.449997,111.599998,109.372452,372574,0.002243,0,0.0
4,111.650002,113.199997,111.000000,112.250000,110.009476,771626,0.005807,0,0.0
...,...,...,...,...,...,...,...,...,...
248,160.000000,162.399994,159.050003,159.550003,159.550003,545134,0.011663,0,0.0
249,159.550003,161.949997,158.199997,160.100006,160.100006,435614,0.003441,0,0.0
250,159.300003,159.699997,153.000000,154.699997,154.699997,649699,-0.034311,0,0.0
251,155.199997,157.449997,154.100006,154.750000,154.750000,356881,0.000323,0,0.0
252,154.449997,156.850006,152.800003,155.250000,155.250000,430610,0.003226,0,0.0

In [5]:
strat.buy_and_hold_return()

40.12

In [7]:
strat.strategy_return()

0.0

In [9]:
strat.run()
strat.strategy_return()

40.12